:root {
box-sizing : border-box;
}
*, ::before, ::after {
box-sizing : inherit;
}
body {
margin : 0;
}
header h1 {
margin : 0;
}
body {
background-image : url("slonce.jpg");
background-attachment : fixed;
background-size : cover;
font-family : 'Courgette', cursive;
}
.container {
border-radius : 25px;
}
.footer {
color : white;
border-radius : 0 0 25px 25px;
position : absolute;
bottom : 0;
height : 5.5rem;
width : 100%;
text-align : center;
}
.header {
position : absolute;
width : 100%;
}
nav ul {
background-color : rgba(255, 204, 128, 0.3);
position : absolute;
}
nav li {
background-color : rgba(255, 174, 0, 0.3);
border-color : #fdd;
position : relative;
}
main {
background-color : rgba(255, 255, 153, 0.1);
text-align : center;
}
aside {
text-align : right;
}
main > *, aside > * {
padding-left : 0.5rem;
padding-right : 0.5rem;
}
.main {
display : flex;
min-height : 0;
padding-bottom : 3rem;
flex-wrap : wrap;
width : 100%;
}
header h1 {
padding : 0.67em;
text-align : center;
}
nav ul {
list-style : none;
margin : 0;
padding : 5px;
text-align : center;
}
nav li {
display : table-cell;
width : 800px;
border-width : 5px;
border-style : groove;
line-height : 2em;
border-color : #804d00;
}
nav a {
display : inline-block;
width : 100%;
text-decoration : none;
color : #000;
}
nav a#active {
font-weight : bold;
}
aside, main {
flex : 0 0 100%;
}
@media all and (min-width:800px) {
.footer {
flex-wrap : nowrap;
}
mainx {
flex : 7;
}
aside {
flex : 3;
}
* {
box-sizing : border-box;
}
.video-background {
background : #000;
position : fixed;
top : 0;
right : 0;
bottom : 0;
left : 0;
z-index : -99;
}
.video-foreground, .video-background iframe {
position : absolute;
top : 0;
left : 0;
width : 100%;
height : 100%;
pointer-events : none;
}
#vidtop-content {
top : 0;
color : #fff;
}
.vid-info {
position : absolute;
top : 0;
right : 0;
width : 33%;
background : rgba(0, 0, 0, 0.3);
color : #fff;
padding : 1rem;
font-family : Avenir, Helvetica, sans-serif;
}
.vid-info h1 {
font-size : 2rem;
font-weight : 700;
margin-top : 0;
line-height : 1.2;
}
.vid-info a {
display : block;
color : #fff;
text-decoration : none;
background : rgba(0, 0, 0, 0.5);
transition : background 0.6s;
border-bottom : none;
margin : 1rem auto;
text-align : center;
}
}
@media (min-aspect-ratio:16/9) {
.video-foreground {
height : 300%;
top : -100%;
}
}
@media (max-aspect-ratio:16/9) {
.video-foreground {
width : 300%;
left : -100%;
}
}
@media all and (max-width:600px) {
.vid-info {
width : 50%;
padding : 0.5rem;
}
.vid-info h1 {
margin-bottom : 0.2rem;
}
}
@media all and (max-width:500px) {
.vid-info .acronym {
display : none;
}
}
.centerp {
height : 200px;
position : relative;
}
.centerp p {
margin : 0;
position : absolute;
top : 50%;
left : 50%;
transform : translate(-50%,-50%);
}
.clearfix {
overflow : auto;
}